
# To set your custom php.ini, add the following line to this file:
# suphp_configpath /home/yourusername/path/to/php.ini
Options -Indexes

#RewriteEngine On 
#RewriteCond %{HTTPS} off
#RewriteCond %{REQUEST_URI} /admin.html 
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L]
AddHandler application/x-httpd-php5 .php
AddDefaultCharset UTF-8