	@font-face {
		font-family: cab;
		src: url(cabin.ttf);
	}
	#entry {
		width:900px;
		margin:0 auto 0 auto;
		
	}
	#title {
		font-family: cab;
		font-size: 36px;
		margin: 30px 0px -20px 0px;
	}
	a {
		text-decoration: none;
		color: blue;
	}
	footer a:hover, content a:hover {
		font-style: italic;
	}
	#title a {
		color: black;
		font-style: none;
		text-decoration: none;
	}
	#title a:hover {
		color:gray;
		font-style: none;
	}
	#title #logo {
		display: inline-block;
		vertical-align: middle;
		height: 100;
		width: 100;
	}
	#content {
		margin-left: 150px;
		margin-top: -20px;
		font-size: 24px;
		font-family: cab;
		float: left;
		text-align: justify;
		min-height:600px;
	}

	#previous {
		position: fixed;
		top:200px;
		padding: 225px 10px 225px 10px;
		vertical-align: middle;
		font-family: cab;
		font-size: 72px;
		text-decoration: none;
	}
	#previous:hover {
		background-color:#eee;
	}
	footer {
		display: block;
		font-family: cab;
		font-size: 18px;
		margin-bottom: 200px;
		margin-left: 50px;
	}
	pre {margin-left:0px; width:auto; background-color: rgb(230,230,230); font-size: 16px;}